/* COMPONENT STYLING */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 1em;
}

.social-items {
  display: flex;
  gap: 1em;
}

.logo-img {
  width: 150px;
}
