/* COMPONENT STYLING */
/* MOBILE FIRST */

:root {
  --highlight-text: #e85b44;
  --bg-color: #efece4;
  --quote-color: white;
}
/* *********** */
/* NAV SECTION */
/* *********** */

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  text-transform: capitalize;
}

.nav-items {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

.nav-items h4 {
  text-transform: uppercase;
}

.social-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo-img {
  width: 200px;
}

/* ************ */
/* HERO SECTION */
/* ************ */

.hero-container {
  margin-top: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
}

.headline-name {
  text-align: start;
  font-size: 3rem;
  line-height: 0.9;
}

.subheader {
  color: var(--highlight-text);

  max-width: 600px;
}

.hero-img {
  width: 140%; /* Increase the width of the image to make it overflow the container */
  margin-left: 10%; /* Center the overflowed content by adjusting margins */
  margin-bottom: -5%;
}

/* ****************** */
/* ENDORSMENT SECTION */
/* ****************** */

.endorsement-container {
  margin-top: 1em;
}

.endorsement-container h2 {
  font-size: 2.5rem;
  color: var(--quote-color);
}

.endorsement-card {
  margin-top: 1em;
  padding: 0.5em;
  width: 100%;
  display: flex;
  gap: 2em;
  /* background-color: var(--highlight-text); */
  border-radius: 10px;
}

.quote h4 {
  color: var(--quote-color);
}

.endorser-container {
  display: flex;
  flex-direction: column;
}

.endorser-details {
  margin-top: 0.5em;
  font-size: 0.8rem;
}

.endorser-image {
  border-radius: 50%;
  width: 200px;
}

/* ******** */
/* RESULTS */
/* ******* */

.results-headline {
  font-size: 2.5rem;
}

.result-detail {
  margin-top: 1em;
}

/* **************** */
/* BENEFITS SECTION */
/* **************** */

.benefits-container h2 {
  font-size: 2.5rem;
}

.benefits-container {
  display: flex;
  flex-direction: column;
}

.benefit-card {
  margin-top: 1em;
}

/* *****************/
/* ABOUT CONTAINER */
/* *****************/

.about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-container h2 {
  font-size: 2.5rem;
  color: var(--quote-color);
}

.about-container p {
  color: var(--quote-color);
}

.about-text-container {
  margin-top: 1em;
}

.benefit-links {
  display: flex;
  gap: 2em;
}

/* *********** */
/* FAQ section */
/* *********** */

.faq-container h2 {
  font-size: 2.5rem;
}

/* Add this to your CSS file */
.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* *****************/
/* Contact section */
/* *************** */

.contact-container {
  margin-top: 2em;
}

.contact-container h2 {
  font-size: 2.5rem;
}

.form-style {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

input[type="text"],
[type="email"] {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: var(--bg-color);
  cursor: pointer;
}

textarea {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background-color: var(--bg-color);
  cursor: pointer;
}

.label-style {
  font-weight: bold;
}

.submit-btn {
  padding: 0.5em;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--highlight-text);
  color: var(--quote-color);
  font-weight: bold;
  cursor: pointer;
}

/* ****** */
/* FOOTER */
/* ****** */

.footer-container {
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

/* ************ */
/* BREAK POINTS */
/* ************ */

/* SMALL TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
  /* NAV */

  .headline-name h1 {
    text-align: left;
  }
}

/* LARGE TABLETS / LAPTOPS */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* DESKTOPS */
@media (min-width: 1200px) and (max-width: 1919px) {
}

/* EXTRA LARGE SCREENS */
@media (min-width: 1920px) {
}
